<label>Introduce una fecha</label><br>
<input type="date" (change)="obtenerDatos($event)" /><br><br>

<div style="width: 30%;">
    <p-table [value]="datos" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <td>Nombre de usuario</td>
                <td>Contraseña</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usu>
            <tr>
                <td>{{usu.name}}</td>
                <td>{{usu.password}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>