<article>
    <h3>Detalles del usuario</h3>
    <label>Id</label><br>
    <input type="text" disabled value="{{datos.id}}"><br><br>
    <label>Nombre</label><br>
    <input type="text" disabled value="{{datos.name}}"><br><br>
    <label>Contraseña</label><br>
    <input type="password" disabled value="{{datos.password}}"><br><br>
    <label>Fecha de creación</label><br>
    <input type="date" disabled value="{{datos.date}}">
</article>
<article>
    <h3>Cambio de contraseña</h3>
    <label>Antigua contraseña</label><br>
    <input type="text" (change)="obtenerAntiguaContrasenya($event)">
    <br><br><br>
    <label>Nueva contraseña</label><br>
    <input type="text" (change)="obtenerNuevaContrasenya($event)"><br><br>
    <label>Confirmación</label><br>
    <input type="text" (change)="obtenerConfirmacionContrasenya($event)"><br><br>
    <button (click)="cambiarContrasenya()">Cambiar contraseña</button>
</article>