input[type="text"] {
    width: 50%;
    display: block;
}

input[type="submit"] {
    width: 15%;
    display: block;
    background-color: lightblue;
    border: solid black 1px;
}

article {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    justify-content: center;
    align-content: center;
}

section {
    display: flex;
    flex-direction: column;
}

html{
    background-color: whitesmoke;
}

canvas{
    width:800px !important;
    height:500px !important;
    align-self: center;
}