<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    
    <section>
        <article>
            <img src={{urlImagen}}>
        </article>
        <article class="datos">
            <br>
            <label>Código</label><br>
            <label class="valor">{{codigo}}</label><br><br>
            <label>Nombre</label><br>
            <label class="valor">{{nombre}}</label><br><br>
            <label>Descripción</label><br>
            <label class="valor">{{descripcion}}</label><br><br>
            <label>Precio</label><br>
            <label class="valor">{{precio}}</label><br><br>
            <label>Stock</label><br>
            <label class="valor">{{stock}}</label>
        </article>
    </section>
    <!--
    <a routerLink="/home"></a>
    <a routerLink="/product"></a>

    <router-outlet>
    </router-outlet>
    -->
</body>
 
</html>