<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <img src="{{imagen}}">
    <section>
        <label>Código</label><br>
        <label {{codigo}}></label><br><br>
        <label>Nombre</label><br>
        <label {{nombre}}></label><br><br>
        <label>Descripción</label><br>
        <label {{descripcion}}></label><br><br>
        <label>Precio</label><br>
        <label {{precio}}></label><br><br>
        <label>Stock</label><br>
        <label {{stock}}></label>
    </section>
</body>

</html>