<p-table [value]="datos">
    <ng-template pTemplate="caption">
        Listado de productos
    </ng-template>
    <ng-template pTemplate="header" styleClass="p-datatable-sm">
        <tr>
            <th>Nombre</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.nombre}}</td>
            <td><button routerLink="/detalleProyecto/{{product.id}}">Ver detalles</button></td>
            <td><button (click)="eliminarProyecto(product.id)">Eliminar</button></td>
        </tr>
    </ng-template>
</p-table>
<h3>Dar de alta un proyecto</h3>
<label>Nombre:</label>
<br>
<input type="text" (change)='obtenerNombre($event)' />
<br><br>
<label>Descripcion:</label>
<br>
<input type="text" (change)='obtenerDescripcion($event)' />
<br><br>
<button (click)="altaProyecto()">Alta</button>